@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

* {
    font-family: 'Lato', sans-serif;


} 

html {
    margin: 0px;
    background-color: white;

}

body  {
    margin: 0px;
    padding: 0px;

}


#home {
	font-weight: bold;
    float: left;
}


/* Landing Page */
.welcome h2 {

        background-color: transparent;
        font-size: 40px;
        color:white;
        font-size:bold;
}

.welcome p {

        background-color: transparent;
        font-size: 22px;
        color:white;
}




.welcome a {
    background-color: white;
    border: none;
    color: darkred;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* The Navigation Bar */
.navbar {
	top: 0;
	background-color: black;
    width: 100%; 
    padding: 6px;
    float: left;
    position: fixed; 
    z-index: 2;
    margin: 0px;
}


.navbar-functions{
    float: right
}



.navbar a:link, .navbar a:visited {
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

.navbar a:hover, .navbar a:active {
    background-color: #f4f4f4;
    color:grey;
}
/* The Navigation Bar - Dropdown to Shop flavors */


.nav_drop {
    float: left;
    overflow: hidden;
}

.nav_drop .dropbtn1 {
    font-size: 14px;
    border: none;
    outline: none;
    color: darkgray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-chooseflavor {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 180px;
    z-index: 2;
    color: black;

}

.dropdown-chooseflavor a {
    clear: left;
    color: black;
    padding: 38px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-chooseflavor a:hover {
	color: black;
	background-color: lightgrey;
}

.nav_drop:hover .dropdown-chooseflavor {
    display: block;
}


/* product Browsing page */


.productList {
    margin-top: 60px;
    float:center;
    margin-left: 60px;
}

/*card*/
.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    width: 30%;
    margin-right: 30px;
    margin-top: 10px;
    float: left;
    border-radius: 2%;
}

.card:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.cardcontainer {
    padding: 2px 6px;
}




/* product detail page */




.subnav {
    clear: left;
    text-align: left;
    margin: 40px;
    margin-top: 80px;
    color: black;
    margin-bottom: 20px;
}
.subnav a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}


.productImage {
    width: 50%;
    float: left;
}
#Originalpic {
    width: 500px;
    position: relative;
    top: 80px;
    left: 100px;
}

.productDescription {
    width: 30%;
    float: left;
    padding-left: 30px;
    position:relative;
    top:60px;
    font-size: 16px;
}
.Choice{
    border: 3px solid #73AD21;
}





/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    text-align: left;
    margin-top: 0px;
    position:relative;
    top:60;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: darkred;}


.buttonCart {
    background-color: darkred; /* Green */
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

